LICENSE_API_TOKEN=aZED0l_eqXhwpQWRMCP4_5UltXZNbuvhECynQowKups
LICENSE_API_DATABASE_URL=sqlite:///license_api/data/license_api.db
LICENSE_PRIVATE_KEY_PATH=license_api/keys/ed25519_private.pem
LICENSE_PUBLIC_KEY_PATH=license_api/keys/ed25519_public.pem
LICENSE_ALLOW_PERPETUAL=true
